@import url('https://fonts.googleapis.com/css?family=Lato:300i,400,700');

input::placeholder {
  color: white;
  font-style: italic;
  font-weight: 300;
}

form {
  margin: 0 auto;
  width: 300px;
}

label {
  margin-left: 40px;
  margin-right: 20px;
}


#submit {
  border: 3px solid #57E8A9;
  background-color: #3F414E;
  color: white;
  margin-top: 10px;
  margin-left: 20px;
  padding: 5px 10px;
}

#submit:active {
  background-color: #4B4C5C;
}

.listContainer {
  width: 700px;
  padding-top: 30px;
  margin: 0 auto;
}

.profileContainer {
  padding: 30px 0;
  margin-bottom: 20px;
  background-color: #7D819A;
}

.imgContainer {
  width: 100px;
  margin: 0 auto;
}

.userimage {
  border: 3px solid #57E8A9;
  border-radius: 50%;
  margin: 0 auto;
}

.individualName {
  text-transform: capitalize;
  text-align: center;
}

.location {
  text-align: center;
}

.email {
  font-size: 300;
  font-size: 14px;
  text-transform: uppercase;
  font-style: italic;
}

.location {
  text-transform: capitalize;
}
